body {
  margin: 0 0 0 0;
}


th {
  border-bottom: 2px solid black;
}

a {
  color: #00b0f0;
  font-size: 21pt;
  font-family: sans-serif;
}

fieldset {
  height: 162px;
  border: 2px solid black;
}

legend {
  font-size: 15pt;
  font-family: sans-serif;
  text-align: center;
}

td {
  font-size: 11.8pt;
  font-family: sans-serif;
}

  input[type=range] {
    margin-left: 60px;
}

.wrapper_table {
  border: 3px solid black;
  border-radius: 8px;
  width: 900px;
  height: 659px;
}

.middle_table {
  display: inline-block;
  border: 2px solid black;
}

.inside_table {
  border: 1px solid black;
}

#inside_table td {
  height: 0px;
}

.text_align_right {
  text-align: right;
  padding-right: 15px;
}

.middle_table td {
    width: 285px;
}

.wrapper_td {
  border: none;
  padding-left: 8px;
}

.header {
  height: 52px;
}
.division {
  display: inline-block;
  width: 280px;
  height: 560px;
  font-size: 15pt;
  font-family: sans-serif;
}
