a {
    text-decoration: none;
    color: #333333;
}

ul {
    list-style-type: none;
    padding: 0;
    margin:0;
}

ul ul {
    display: none;
}

    ul ul li a {
        color: #888888;
    }

    ul li:hover ul {
        display: block;
        padding-left: 10px; 
    }

    ul li a:hover {
        text-decoration: underline;
    }



